[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "daterangepicker"]
	path = daterangepicker
	url = https://github.com/trafficonese/daterangepicker
[submodule "leaflet.esri"]
	path = leaflet.esri
	url = https://github.com/trafficonese/leaflet.esri
[submodule "leaflet.extras"]
	path = leaflet.extras
	url = https://github.com/trafficonese/leaflet.extras
[submodule "leaflet.extras2"]
	path = leaflet.extras2
	url = https://github.com/trafficonese/leaflet.extras2
[submodule "widgetframe"]
	path = widgetframe
	url = https://github.com/trafficonese/widgetframe
